* {
    color: black;
}

.just {
    justify-content: center;
}

#read-more {
    border: none;
    padding: 10px;
    background-color: blue;
    margin: 5px;
    border-radius: 20px;
}

#read-more:hover {
    background-color: gray;
}

.redius-1 {
    border-radius: 50px;
}

.home {
    text-decoration: none;
    padding: 5px 10px;
}

.home:hover {
    color: black;
    border-radius: 10px;

}

.offer {
    text-decoration: none;
    padding: 5px 10px;
}

.offer:hover {
    color: black;
    border-radius: 10px;

}

.login {
    text-decoration: none;
    padding: 5px 10px;
}

.login:hover {
    color: black;
    border-radius: 10px;

}

.card-style {
    width: 18rem;
}

.redius {
    border-radius: 40px;
}