/* *{
    overflow-x: hidden;
} */
body{
    background-image: url(images/istockphoto-1315891458-170667a.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.just{
    justify-content: center;
}
#read-more{
    border: none;
    padding: 10px;
    background-color: blue;
    color: white;
    margin: 5px;
    border-radius: 20px;
}
#read-more:hover{
background-color: gray;
color: white;
}
.redius-1{
border-radius: 50px;
}
.home{
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}
.home:hover{
    color: black;
    background-color: white;
    border-radius: 10px;
    
}
.offer{
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}
.offer:hover{
    color: black;
    background-color: white;
    border-radius: 10px;

}
.login{
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}
.login:hover{
    color: black;
    background-color: white;
    border-radius: 10px;

}
.card-style{
    width: 18rem;
}
.redius{
    border-radius: 40px;
}